@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.css");
@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;700&display=swap");
html, body {
  min-height: 100%;
}

html {
  font-size: 18px;
}

body {
  line-height: 1.42;
  font-family: "Alegreya Sans", Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  color: #666666;
}

.wrapper {
  overflow: hidden;
  width: 100%;
  min-height: 100%;
  min-width: 0;
}

* {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul {
  padding: 0;
  margin: 0;
}

ul li {
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  cursor: pointer;
  border: none;
  background: transparent;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
}

img {
  display: block;
  max-width: 100%;
}

.hero {
  background: url("../img/list.png") right bottom no-repeat;
  background-color: #86c3d7;
  height: 100vh;
  min-height: 36.1111111111rem;
  color: white;
  position: relative;
}
@media (max-width: 768px) {
  .hero {
    background-position: right top 30px;
  }
}
@media (max-width: 480px) {
  .hero {
    background-size: 68%;
    background-position: right top 54px;
  }
}
.hero::before {
  content: url("../img/herolist.png");
  position: absolute;
  bottom: -50px;
  left: 2%;
}
@media (max-width: 768px) {
  .hero::before {
    display: none;
  }
}
.hero::after {
  content: url("../img/decor.png");
  position: absolute;
  bottom: -50px;
  right: 0;
}
@media (max-width: 768px) {
  .hero::after {
    display: none;
  }
}
.hero__container {
  background-image: url("../img/batnik.png");
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 50% auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding-top: 1.3333333333rem;
  padding-bottom: 2.6111111111rem;
}
@media (max-width: 768px) {
  .hero__container {
    background: url("../img/768/herodecor.png") no-repeat, url("../img/batnik.png") no-repeat;
    background-size: 48% auto, 48% auto;
    background-position: center top 42%, center top 29%;
  }
}
@media (max-width: 480px) {
  .hero__container {
    background-size: 75%;
    background-position: right 42% top 35%, center top 18%;
  }
}

@media (max-width: 768px) {
  .hero__feature {
    display: none;
  }
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 768px) {
  .header .menu, .header .telephone {
    display: none;
  }
  .header .menu-icon {
    display: block;
  }
}

.header__menu {
  margin-left: 2.4444444444rem;
  margin-right: 2.5555555556rem;
}

.logo {
  display: flex;
}

.menu__list {
  display: flex;
  align-items: center;
}

.menu__link {
  display: flex;
}

.menu__item {
  margin-right: 1.5555555556rem;
}
.menu__item:last-child {
  margin-right: 0;
}

.menu-icon {
  width: 1.3333333333rem;
  height: 1.2222222222rem;
  display: none;
  fill: white;
}

.telephone {
  font-size: 1.3333333333rem;
  display: flex;
  align-items: center;
}

.telephone__icon-img {
  width: 0.6666666667rem;
  height: 0.6666666667rem;
  margin-right: 0.3333333333rem;
  fill: white;
}

.telephone_color_green {
  color: #365a49;
}

.telephone__icon_green {
  fill: #365a49;
}

.main {
  width: 46%;
}
.main__title {
  font-size: 2.6666666667rem;
  line-height: normal;
  text-transform: uppercase;
  font-weight: bold;
}
@media (max-width: 480px) {
  .main__title {
    font-size: 2.2222222222rem;
    line-height: 1;
  }
}
.main__text {
  font-size: 1.1666666667rem;
  margin-bottom: 1.4444444444rem;
  padding-right: 15%;
}
@media (max-width: 768px) {
  .main__text {
    padding: 0 23%;
  }
}
@media (max-width: 480px) {
  .main__text {
    padding: 0 13%;
    line-height: 1;
  }
}
@media (max-width: 768px) {
  .main {
    margin: 0 auto;
    width: 100%;
    text-align: center;
  }
}
@media (max-width: 480px) {
  .main {
    margin-bottom: 13%;
  }
}

.feature {
  display: flex;
  font-size: 0.8888888889rem;
}
.feature__item {
  margin-right: 2.3888888889rem;
  display: flex;
}
.feature__item:last-child {
  margin-right: 0;
}
.feature__icon {
  width: 2.5rem;
  fill: #b2e7f2;
  display: flex;
  height: 2.5rem;
}
.feature__text {
  line-height: normal;
  max-width: 4.7222222222rem;
  padding-left: 0.6111111111rem;
}

.button {
  font-size: 1.05rem;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 30px;
  cursor: pointer;
}

.main__button {
  color: #365a49;
  padding: 1.1111111111rem 2.1111111111rem 0.8888888889rem 1.9444444444rem;
  background-color: white;
}
.main__button:hover {
  transition: 0.3s;
  background-color: #365a49;
  color: white;
  box-shadow: 0 0 10px #365a49;
}

.button_submit {
  padding: 1.0555555556rem 2rem;
  color: white;
  background-color: #365a49;
}
.button_submit:hover {
  transition: 0.3s;
  color: #365a49;
  background-color: white;
}

.button_reset {
  padding: 1.1111111111rem 1.4444444444rem;
  color: #000;
  background: transparent;
  text-transform: none;
}
.button_reset:hover {
  transition: 0.3s;
  color: #365a49;
}

.section {
  height: 100vh;
  min-height: 36.1111111111rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section__title {
  font-size: 2.6666666667rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 1.6666666667rem;
  text-align: center;
  color: black;
  line-height: normal;
}

.why-chocco {
  position: relative;
  background: url("../img/smallist.png") left top 52% no-repeat;
}
@media (max-width: 768px) {
  .why-chocco {
    background-position: left top 12%;
    background-size: auto 28%;
  }
}
@media (max-width: 480px) {
  .why-chocco {
    background: none;
  }
}
.why-chocco::before {
  content: url("../img/rapsberry.png");
  position: absolute;
  top: 77%;
  z-index: 2;
}
@media (max-width: 480px) {
  .why-chocco::before {
    display: none;
  }
}
.why-chocco__title {
  margin-bottom: 0.2222222222rem;
}
@media (max-width: 480px) {
  .why-chocco__title {
    font-size: 2.2222222222rem;
  }
}
.why-chocco__text {
  padding: 0 26%;
  text-align: center;
  margin-bottom: 2.7777777778rem;
}
@media (max-width: 768px) {
  .why-chocco__text {
    padding: 0 20%;
    margin-bottom: 3.8888888889rem;
    line-height: 1;
  }
}
@media (max-width: 480px) {
  .why-chocco__text {
    padding: 0 1%;
    margin-bottom: 3.4444444444rem;
  }
}

.benefit {
  display: flex;
}
@media (max-width: 480px) {
  .benefit {
    display: flex;
    flex-direction: column;
  }
}
.benefit__item {
  flex: 1;
  margin: 0 3%;
  text-align: center;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 768px) {
  .benefit__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
}
@media (max-width: 480px) {
  .benefit__item {
    display: flex;
    flex-direction: row;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 1.7222222222rem;
  }
  .benefit__item:last-child {
    margin-bottom: 0;
  }
}
.benefit__item::before {
  content: url("../img/dot.png");
  position: absolute;
  top: 50px;
  right: 0;
  transform: translateX(92%);
}
@media (max-width: 768px) {
  .benefit__item::before {
    display: none;
  }
}
@media (max-width: 480px) {
  .benefit__item::before {
    display: none;
  }
}
.benefit__item:last-child {
  margin-right: 0;
  margin-left: 0;
}
.benefit__item:last-child::before {
  display: none;
}
.benefit__item:first-child {
  margin-right: 0;
  margin-left: 0;
}
.benefit__image {
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  background-color: #f2f5f4;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .benefit__image {
    margin-bottom: 0;
  }
}
@media (max-width: 480px) {
  .benefit__image {
    height: 7rem;
    width: 17.8888888889rem;
  }
}
.benefit__image-wrapper {
  display: inline-block;
  width: 3.8333333333rem;
  height: 4.1666666667rem;
  border-radius: 50%;
  position: relative;
  background-color: #f2f5f4;
  overflow: hidden;
  fill: black;
}
.benefit__img {
  width: 4.1666666667rem;
  height: 3.8333333333rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.benefit__title {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 0.6111111111rem;
}
@media (max-width: 768px) {
  .benefit__title {
    margin-bottom: 0;
  }
}

@media (max-width: 480px) {
  .benefit__desc {
    text-align: left;
    padding-right: 3%;
    margin-left: 3%;
  }
}

.review-section {
  background-image: url("../img/reviewslist.png");
  background-position: left bottom -25%;
  background-repeat: no-repeat;
  position: relative;
}
@media (max-width: 768px) {
  .review-section {
    background: url("../img/reviewsstraw.png"), url("../img/strawberry.png"), url("../img/reviewslist.png");
    background-position: left -5% bottom -7%, right top, left -4% bottom -18%;
    background-repeat: no-repeat;
  }
}
@media (max-width: 480px) {
  .review-section {
    background-position: left -9% bottom -8%, right -11% top, left -7% bottom -23%;
  }
}
.review-section::before {
  content: url("../img/reviewsstraw.png");
  position: absolute;
  bottom: -91px;
  z-index: 1;
}
@media (max-width: 768px) {
  .review-section::before {
    display: none;
  }
}
.review-section::after {
  content: url("../img/strawberry.png");
  position: absolute;
  right: 0;
  top: 18%;
}
@media (max-width: 768px) {
  .review-section::after {
    display: none;
  }
}

.review {
  display: flex;
  color: #666666;
  background-color: #f8faf9;
  background-image: url("../img/branch.png");
  background-position: right top;
  background-repeat: no-repeat;
  padding: 2.8333333333rem 10.4444444444rem 1.8888888889rem 2.5rem;
  position: relative;
  overflow: hidden;
}
@media (max-width: 768px) {
  .review {
    padding: 0;
    flex-direction: column;
    align-items: center;
    padding: 3rem 1.2222222222rem 1.6666666667rem;
  }
}
@media (max-width: 768px) {
  .review {
    background-position: right -6% top 5%;
  }
}
.review::before {
  content: "";
  position: absolute;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  display: block;
  background-color: white;
  top: -5%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.review__content {
  flex: 1;
}
@media (max-width: 768px) {
  .review__content {
    text-align: center;
  }
}

.review__avatar {
  width: 14.0555555556rem;
  height: 14.3888888889rem;
  margin-right: 20px;
}
@media (max-width: 768px) {
  .review__avatar {
    margin-right: 0;
    width: 7.3333333333rem;
    height: 7.3333333333rem;
    margin-bottom: 1.3888888889rem;
  }
}

.review__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.review__title {
  font-size: 1.6666666667rem;
  font-weight: bold;
  color: #000000;
  margin-bottom: 22px;
}

.review__text {
  margin-bottom: 1.6666666667rem;
  line-height: normal;
}

.review__name {
  color: black;
}

.review_marg_bot {
  margin-bottom: 1.1666666667rem;
}

@media (max-width: 480px) {
  .review-section__title {
    font-size: 2.2222222222rem;
  }
}

.person {
  display: flex;
  justify-content: center;
}

.person__item {
  width: 4.4444444444rem;
  height: 4.4444444444rem;
  border: 6px solid transparent;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
}

.person__link {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.person__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.person__item_active {
  border: 6px solid #365a49;
}

.order {
  background: url("../img/manyrapsberry.png") center center no-repeat;
  background-size: cover;
  color: #365a49;
  position: relative;
}
.order::before {
  content: url("../img/deliverylist.png");
  position: absolute;
  right: 8%;
  top: 54%;
}
@media (max-width: 768px) {
  .order::before {
    display: none;
  }
}
.order::after {
  content: url("../img/blueberry.png");
  position: absolute;
  bottom: 22%;
  left: 10%;
}
@media (max-width: 768px) {
  .order::after {
    display: none;
  }
}

.order__title {
  color: #365a49;
  margin-bottom: 2.4444444444rem;
}
@media (max-width: 768px) {
  .order__title {
    margin-bottom: 1.4444444444rem;
  }
}
@media (max-width: 480px) {
  .order__title {
    font-size: 2.2222222222rem;
  }
}

.form {
  display: flex;
}
@media (max-width: 768px) {
  .form {
    flex-direction: column;
    padding: 0 7.2222222222rem;
  }
}
@media (max-width: 480px) {
  .form {
    padding: 0;
  }
}

.form__col {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__col:last-child {
  margin-right: 0;
}
@media (max-width: 768px) {
  .form__col:first-child {
    margin-right: 0;
  }
}

.form__wrap {
  display: flex;
  margin-bottom: 0.9444444444rem;
}
@media (max-width: 768px) {
  .form__wrap {
    margin-bottom: 10px;
  }
}

.form__label {
  flex: 1;
  margin-right: 1.1111111111rem;
}
.form__label:last-child {
  margin-right: 0;
}

.form__input {
  width: 100%;
  border: none;
  padding: 1rem 0.6111111111rem;
  outline: none;
}
@media (max-width: 768px) {
  .form__input {
    padding: 0.5555555556rem;
  }
}
.form__input_textarea {
  resize: none;
  height: 10rem;
}
@media (max-width: 768px) {
  .form__input_textarea {
    height: 4.4444444444rem;
  }
}
.form__input:focus {
  box-shadow: 0 0 20px #dee2bd;
}

.form__radio {
  display: flex;
  flex-wrap: wrap;
}
@media (max-width: 480px) {
  .form__radio {
    justify-content: center;
  }
}

.form__name {
  margin-bottom: 3px;
}
@media (max-width: 768px) {
  .form__name {
    margin-bottom: 0;
  }
}

.form__radio_marg_bot {
  margin-bottom: 1.9444444444rem;
}

@media (max-width: 768px) {
  .form__button {
    display: flex;
    justify-content: center;
  }
}

.radio {
  display: flex;
  cursor: pointer;
  margin-right: 1.2777777778rem;
  -webkit-user-select: none;
          user-select: none;
  margin-bottom: 0.3333333333rem;
}
.radio:last-child {
  margin-bottom: 0;
}
.radio_checkbox .radio__visible {
  border-radius: 0;
}
.radio_checkbox .radio__visible::before {
  background: url("../img/icons/checkmark.svg");
  background-repeat: no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible::before {
  display: block;
}

.radio__visible {
  margin-right: 9px;
  width: 1.4444444444rem;
  height: 1.4444444444rem;
  border-radius: 50%;
  position: relative;
  background-color: white;
}
.radio__visible::before {
  content: "";
  display: none;
  width: 0.7777777778rem;
  height: 0.7777777778rem;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #365a49;
  border-radius: 50%;
}

.pager {
  position: fixed;
  top: 18.8888888889rem;
  right: 0;
}
@media (max-width: 768px) {
  .pager {
    display: none;
  }
}

.pager__item {
  padding-bottom: 0.2777777778rem;
}
.pager__item_active .pager__link {
  border-color: white;
}

.pager__link {
  width: 0.8888888889rem;
  height: 0.8888888889rem;
  border-radius: 50%;
  border: solid 1px transparent;
  display: block;
  position: relative;
}
.pager__link::before {
  content: "";
  display: block;
  background-color: white;
  width: 0.3333333333rem;
  height: 0.3333333333rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.map {
  position: relative;
}

.map__img {
  width: 100%;
  height: 100%;
}
@media (max-width: 768px) {
  .map__img {
    height: 100vh;
  }
}

.footer {
  position: absolute;
  bottom: 0;
  background-color: white;
  width: 100%;
  padding-top: 1.6111111111rem;
  padding-bottom: 1.2222222222rem;
}
.footer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 480px) {
  .footer__container {
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  .adress__link {
    display: flex;
    justify-content: center;
  }
}

.adress__text {
  font-size: 1.1111111111rem;
}

.adress__number {
  font-size: 1.1666666667rem;
}

.socials__list {
  display: flex;
}

.socials__link {
  display: block;
  width: 1.1111111111rem;
}

.socials__item {
  margin-right: 20px;
}
.socials__item:last-child {
  margin-right: 0;
}

.socilas__svg {
  fill: #B3B3B3;
  width: 1.1111111111rem;
  height: 1.1111111111rem;
}
.socilas__svg:hover {
  fill: black;
  transition: 0.3s;
}

.bar {
  background-color: #f8faf9;
  height: 100vh;
  min-height: 36.1111111111rem;
  display: flex;
  position: relative;
  align-items: center;
  padding-bottom: 6.1111111111rem;
}
.bar::before {
  content: url("../img/bar-chocco-list.png");
  position: absolute;
  right: 0;
  bottom: -216px;
}
@media (max-width: 768px) {
  .bar::before {
    content: url("/img/768/bar-list.png");
  }
}
@media (max-width: 480px) {
  .bar::before {
    content: url("/img/480/bar-list.png");
    bottom: 0;
  }
}
.bar::after {
  content: url("../img/bar-choco-berry.png");
  position: absolute;
  right: 0;
  bottom: -74px;
}
@media (max-width: 768px) {
  .bar::after {
    content: url("/img/768/bar-berry.png");
  }
}
@media (max-width: 480px) {
  .bar::after {
    bottom: -58px;
  }
}

.bar__container {
  display: flex;
}
@media (max-width: 768px) {
  .bar__container {
    flex-direction: column;
  }
}

.bar-wrap {
  position: relative;
  cursor: pointer;
  margin-bottom: 2.2222222222rem;
  width: 5rem;
  padding: 0.5rem 1.1111111111rem 1px;
  background-color: #86c3d7;
  border-radius: 5px;
}
.bar-wrap:hover {
  background-color: #60aacc;
}
.bar-wrap:hover .compound {
  display: block;
}
@media (max-width: 768px) {
  .bar-wrap {
    display: none;
  }
}

.bar-wrap__img {
  width: 2.8333333333rem;
  height: 2.8333333333rem;
  fill: white;
}

.bar-wrap__text {
  text-transform: uppercase;
  color: white;
  font-size: 14px;
  font-weight: bold;
}

.bar__arrow {
  display: flex;
  align-items: center;
}
.bar__arrow .arrow {
  display: none;
}
@media (max-width: 768px) {
  .bar__arrow {
    display: flex;
    justify-content: center;
    margin-bottom: 1.5555555556rem;
  }
  .bar__arrow .arrow {
    display: flex;
    align-items: center;
  }
}

.about-bar {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
}
@media (max-width: 768px) {
  .about-bar {
    align-items: center;
  }
}

.about-bar__title {
  color: black;
  text-transform: uppercase;
  line-height: normal;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1.1666666667rem;
}
@media (max-width: 768px) {
  .about-bar__title {
    font-size: 1.6666666667rem;
  }
}
@media (max-width: 480px) {
  .about-bar__title {
    text-align: center;
  }
}

.about-bar__text {
  margin-bottom: 45px;
  padding-right: 26%;
}
@media (max-width: 768px) {
  .about-bar__text {
    text-align: center;
    padding-right: 0;
  }
}
@media (max-width: 480px) {
  .about-bar__text {
    padding: 0 3%;
  }
}

.arrow {
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .arrow {
    display: none;
  }
}

.arrow__link {
  display: flex;
  height: 1.5555555556rem;
  width: 0.7222222222rem;
}

.arrow__left {
  transform: rotate(180deg);
}

.arrow_marg_right {
  margin-right: 3.6111111111rem;
}
@media (max-width: 768px) {
  .arrow_marg_right {
    margin-right: 1.3888888889rem;
  }
}

.arrow_marg_left {
  margin-left: 2.2222222222rem;
}
@media (max-width: 768px) {
  .arrow_marg_left {
    margin-left: 2.7777777778rem;
  }
}

.compound {
  display: none;
  position: absolute;
  background-color: white;
  top: 0;
  left: 5rem;
  padding: 1.3333333333rem 1.1111111111rem 1.2777777778rem 1.7777777778rem;
}

.compound__wrap {
  margin-right: 9%;
  display: flex;
  align-items: center;
}
@media (max-width: 768px) {
  .compound__wrap {
    justify-content: center;
    margin-right: 0;
  }
}

.compound__item {
  display: flex;
  margin-bottom: 1.1111111111rem;
  align-items: center;
}

.compound__svg {
  width: 1.9444444444rem;
  height: 1.9444444444rem;
  margin-right: 1.3888888889rem;
}

.compound__text {
  flex: 1;
  margin-right: 1.4444444444rem;
}

@media (max-width: 768px) {
  .compound__img {
    display: none;
  }
}

.compound__img_tablet {
  display: none;
}
@media (max-width: 768px) {
  .compound__img_tablet {
    display: block;
  }
}

.composition {
  display: flex;
  margin-bottom: 1.3888888889rem;
}

.calories {
  margin-right: 2.9444444444rem;
}

.calories__amount, .weight__amount {
  font-weight: bold;
  color: black;
}

.price {
  display: flex;
}

.price__text {
  font-size: 60px;
  color: black;
  line-height: 1;
  margin-right: 1.6666666667rem;
}

.price__value {
  width: 1.3333333333rem;
  height: 1.3888888889rem;
}

.price__button {
  color: white;
  padding: 1rem 2.1111111111rem 0.9444444444rem 2rem;
  background-color: #365a49;
}
.price__button:hover {
  background-color: #2e4e3f;
  transition: 0.3s;
}