.about-bar{
    display: flex;
    flex-direction: column;
    flex: 1;
    justify-content: center;
    @include tablet{
        align-items: center;
    }
}
.about-bar__title{
    color: black;
    text-transform: uppercase;
    line-height: normal;
    font-size: rem(36px);
    font-weight: bold;
    margin-bottom: rem(21px);
    @include tablet{
        font-size: rem(30px);
    }
    @include mobile{
        text-align: center;
    }
}
.about-bar__text{
    margin-bottom: 45px;
    padding-right: 26%;
    @include tablet{
        text-align: center;
        padding-right: 0;
    }
    @include mobile{
        padding: 0 3%;
    }
}