.arrow{
    display: flex;
    align-items: center;
    position: relative;
    @include tablet{
        bottom: 22%;
    }
}
.arrow__link{
    display: flex;
    height: rem(28px);
    width: rem(13px);
}
.arrow__left{
    transform: rotate(180deg);
}
.arrow__next{
    right: 3%;
}
.arrow__prev{
    left: 3%;
}
li,div:focus{
    outline: none;
}