.benefit{
    display: flex;

    @include mobile{
        display: flex;
        flex-direction: column;
    }

    &__item{
        flex: 1;
        margin: 0 3%;
        text-align: center;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        @include mobile{
            display: flex;
            margin-right: 0;
            margin-left: 0;
            margin-bottom: rem(31px);
            &:last-child{
                margin-bottom: 0;
            }
        }
        &::before{
            content: url('../img/dot.png');
            position: absolute;
            top: 50px;
            right: 0;
            transform: translateX(92%);
            @include tablet{
                display: none;
            }
            @include mobile{
                display: none;
            }
        }

        &:last-child{
            margin-right: 0;

            &::before{
                display: none;
            }
        }

        &:first-child{
            margin-left: 0;
        }
    }

    &__image{
        height: 7rem;
        width: 7rem;
        border-radius: 50%;
        background-color: #f2f5f4;
        margin-bottom: 1rem;
        margin-left: rem(72px);
        display: flex;
        align-items: center;
        justify-content: center;
        @include tablet{
            margin-bottom: 0;
        }
    }

    &__image-wrapper{
        display: inline-block;
        width: rem(69px);
        height: rem(75px);
        border-radius: 50%;
        position: relative;
        background-color: #f2f5f4;
        overflow: hidden;
        fill: black;
    }

    &__img{
        width: rem(75px);
        height: rem(69px);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__title{
        color: black;
        font-size: 1.5rem;
        font-weight: bold;
        margin-bottom: rem(11px);
        @include tablet{
            margin-bottom: 0;
        }
    }
}
.benefit__desc{
    @include mobile{
        text-align: left;
        padding-right: 12%;
        margin-left: 3%;
    }
}