.button{
    font-size: 1.05rem;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 30px;
    cursor: pointer;
}
.main__button{
    color: #365a49;
    padding: rem(20px) rem(38px) rem(16px) rem(35px);
    background-color: white;

    &:hover{
        transition: 0.3s;
        background-color: #365a49;
        color: white;
        box-shadow: 0 0 10px #365a49;
    }
}
.button_submit{
    padding: rem(19px) rem(36px);
    color: white;
    background-color: #365a49;

    &:hover{
        transition: 0.3s;
        color: #365a49;
        background-color: white;
    }
}
.button_reset{
    padding: rem(22px) rem(26px);
    color: #000;
    background: transparent;
    text-transform: none;

    &:hover{
        transition: 0.3s;
        color: #365a49;
    }
}