.feature{
    display: flex;
    font-size: 16px;

    &__item{
        margin-right: 43px;
        display: flex;

        &:last-child{
            margin-right: 0;
    }
    }
    
    &__icon{
        width: 45px;
    }

    &__text{
        line-height: normal;
        max-width: 85px;
        padding-left: 11px;
    }
}