.form{
    display: flex;
    @include tablet{
        flex-direction: column;
        padding: 0 rem(130px);
    }
    @include mobile{
        padding: 0;
    }
}
.form__col{
    flex: 1;
    margin-right: rem(20px);

    &:last-child{
        margin-right: 0;
    }
    @include tablet{
        &:first-child{
            margin-right: 0;
        }
    }
}
.form__wrap{
    display: flex;
    margin-bottom: rem(17px);
    @include tablet{
        margin-bottom: 10px;
    }
}
.form__label{
    flex: 1;
    margin-right: rem(20px);

    &:last-child{
        margin-right: 0;
    }
}
.form__input{
    width: 100%;
    border: none;
    padding: rem(18px) rem(11px);
    outline: none;
    @include tablet{
        padding: rem(10px);
    }
    &_textarea{
        resize: none;
        height: 10rem;
        @include tablet{
            height: rem(80px);
        }
    }

    &:focus{
        box-shadow:0 0 20px #dee2bd ;
    }
}
.form__radio{
    display: flex;
    flex-wrap: wrap;
    @include mobile{
        justify-content: center;
    }
}
.form__name{
    margin-bottom: 3px;
    @include tablet{
        margin-bottom: 0;
    }
}
.form__radio_marg_bot{
    margin-bottom: rem(35px);
}
.form__button{
    @include tablet{
        display: flex;
        justify-content: center;
    }
}
.input-error{
    border: 2px solid #d61010;
}
.error-modal{
    color: red;
}
.button:focus, .button:active {
    outline: none; 
    box-shadow: none; 
}