.hero{
    background: url('../img/list.png') right bottom no-repeat;
    background-color: #86c3d7;
    height: 100vh;
    min-height: rem(650px);
    color: white;
    position: relative;

    @include tablet{
        background-position: right top 30px;
        // min-height: rem(1000px);
    }
    @include mobile{
        background-size: 68%;
        background-position: right top 54px;
        // min-height: rem(800px);
    }

    &::before{
        content: url('../img/herolist.png');
        position: absolute;
        bottom: -50px;
        left: 2%;
        @include tablet{
            display: none;
        }
    }
    &::after{
        content: url('../img/decor.png');
        position: absolute;
        bottom: -50px;
        right: 0;
        @include tablet{
            display: none;
        }
    }

    &__container{
        background-image: url('../img/batnik.png');
        background-repeat: no-repeat;
        background-position: right center;
        background-size: 50% auto;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        padding-top: rem(24px);
        padding-bottom: rem(47px);

        @include tablet{
            background: url('/img/768/herodecor.png') no-repeat , url('/img/batnik.png') no-repeat;
            background-size: 48% auto, 48% auto;
            background-position: center top 42%, center top 29%;
        }
        @include mobile{
            // height: 100%;
            background-size: 75%;
            background-position: right 42% top 35%, center top 18%;
        }
    }
}
.hero__feature{
    @include tablet{
        display: none;
    }
}