.order{
    background: url('../img/manyrapsberry.png') center center no-repeat;
    background-size: cover;
    color: #365a49;
    position: relative;
    @include tablet;

    &::before{
        content: url('../img/deliverylist.png');
        position: absolute;
        right: 8%;
        top: 54%;
        @include tablet{
            display: none;
        }
    }

    &::after{
        content: url('../img/blueberry.png');
        position: absolute;
        bottom: 22%;
        left: 10%;
        @include tablet{
            display: none;
        }
    }
}
.order__title{
    color: #365a49;
    margin-bottom: rem(44px);
    @include tablet{
        margin-bottom: rem(26px);
    }
    @include mobile{
        font-size: rem(40px);
    }
}