.pager{
    position: fixed;
    top: rem(340px);
    right: 15px;

    @include tablet{
        display: none;
    }
}
.pager_theme_black{
    .pager__list .pager__item_active .pager__link{
        border-color: black;
    }
    .pager__item .pager__link::before{
        background-color: black;
    }
}
.pager__item{
    padding-bottom: 5px;
    &_active{
        .pager__link{
        border-color: white;
        }
    }
}
.pager__link{
    width: rem(16px);
    height: rem(16px);
    border-radius: 50%;
    border: solid 1px transparent;
    display: block;
    position: relative;
    &::before{
        content: "";
        display: block;
        background-color: white;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
}