.team{
    position: relative;
    &::before{
        content: url('../img/teamberry.png');
        height: rem(114px);
        width: rem(104px);
        position: absolute;
        bottom: rem(-42px);
        left: 3%;
        z-index: 4;
    }
}
.team__title{
    margin-bottom: rem(58px);
}
.team__img{
    margin-bottom: rem(26px);
    @include tablet{
        display: none;
    }
    &_tablet{
        display: none;
        @include tablet{
            display: flex;
            justify-content: center;
            max-height: 0;
            overflow: hidden;
            transition: max-height 0.5s;
        }
    }
}
.team__item.is-active .team__img_tablet{
    max-height: 100vh;
}    
.team__list{
    display: flex;
    @include tablet{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
.team__item{
    flex: 1;
    margin-right: rem(20px);
    min-height: rem(460px);
    &:last-child{
        margin-right: 0;
    }
    @include tablet{
        min-height: 0;
        margin-right: 0;
        margin-bottom: rem(20px);
    }
}
.team__link{
    font-size: rem(21px);
    font-weight: bold;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after{
        content: "";
        border: 8px solid transparent;
        border-top-color: #365a49;
        margin-left: 10px; 
        border-bottom-width: 0;
    }
}
.team__desc{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s;
}
.team__item.is-active .team__desc{
    max-height: 100vh;
}
.team__item.is-active .team__link::after{
    transform: rotate(-180deg);
}
.team__position{
    color: black;
    text-align: center;
    font-weight: bold;
}
.team__text{
    color: #666;
    text-align: center;
    @include tablet{
        padding: 0 23%;
    }
}
