.telephone{
    font-size: rem(24px);
    display: flex;
    align-items: center;
    white-space: nowrap;
}
.telephone__icon-img{
    width: rem(12px);
    height: rem(12px);
    margin-right: rem(6px);
    fill: white;
}
.telephone_color_green{
    color: #365a49;
}
.telephone__icon_green{
    fill: #365a49;
}