.why-chocco{
    position: relative;
    background: url('../img/smallist.png') left top 52% no-repeat;
    @include tablet{
        // min-height: rem(1000px);
        background-position: left top 12%;
        background-size: auto 28%;
    }
    @include mobile{
        // min-height: rem(707px);
        background: none;
    }
    &::before{
        content: url('../img/rapsberry.png');
        position: absolute;
        top: 77%;
        @include mobile{
            display: none;
        }
    }

    &__title{
        margin-bottom: rem(4px);
        @include mobile{
            font-size: rem(40px);
        }
    }

    &__text{
        padding: 0 26%;
        text-align: center;
        margin-bottom: rem(50px);
        @include tablet{
            padding: 0 20%;
            margin-bottom: rem(70px);
            line-height: 1;
        }
        @include mobile{
            padding: 0 1%;
            margin-bottom: rem(62px);
        }
    }
}