.menu__list{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.menu__link{
    display: flex;
}
.menu__item{
    margin-right: rem(28px);

    &:last-child{
        margin-right: 0;
    }
}
.menu-icon{
    width: rem(24px);
    height: rem(22px);
    display: none;
    fill: white;
    cursor: pointer;
}
